.container-fluid{
	
}@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #e79a92;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    transition: .2s linear;
    vertical-align: middle;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: .8rem;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #bcb9b9;
    border-radius: 5rem;
}


section{
	padding: 2rem 7%;
}


.heading span{
    color: #020202;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.header{
    background: #e79a92;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 4rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    text-align: center;
}

.header .logo img{
    height: 6rem;
}
.header .navbar a{
    margin:0 2rem;
    font-size: 2rem;
    color: #fff;
}

.header .navbar a:hover{
    color: #ffd8d3;
    border-bottom: .1rem solid #ffd8d3;
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #ffd8d3;
}

#menu-btn{
    display: none;
}

.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: #e79a92;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #e79a92;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    border-color: #e79a92;
    background-color: #fff;
    color: #e79a92;
}


.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}




.heading{
    padding-top:10rem;
}
.header .navbar a:hover{
    color: #ffd8d3;
    border-bottom: .1rem solid #ffd8d3;
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #ffd8d3;
}

#menu-btn{
    display: none;
}

.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: #e79a92;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #e79a92;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    border-color: #e79a92;
    background-color: #fff;
    color: #e79a92;
}



.info{
    margin: 20px auto;
    padding: 30px 0 100px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    width: 870px;
}
.p{
font-size: 30px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
	
  }
.svg{
	margin-bottom: 15px;
}
.email{
margin-top:10 auto;
 display: inline-block;
 background-color: #f2f2f2;
 height: 370px;
 line-height: 35px;
 text-align: center;
}
.form-control{
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 25px;
  padding: 20px 10px;
  	
}
.btn{
background-color: #e79a92;
border: 1px solid #70cbce;
border-radius: 4px;
color:white;
cursor: pointer;
height: 60px;
min-height: 60px;
padding: 0 30px;
transition: 0.3s all;
font-weight: bolder;
margin-bottom: 10px;
font-size: 20px;

}
.message{

 margin-bottom: 5px;
 text-align: center;
font-size: 20px;

}
